# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Backups & Temp files
backup_before_restore/
.system_generated/
.tempmediaStorage/
.user_uploaded/

# OS artifacts
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor & IDE artifacts
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
